<div class="login" role="login">
	<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<div class="panel panel-default pan1">   
			<div class="panel-body pan">
				<div class="row">
					<p class="errorMsg" ng-if="errorMsg" ng-bind="errorMsg"></p>
					<p class="successMsg" ng-if="successMsg" ng-bind="successMsg"></p>
					<div class="center-block"><h3>Forgot Password</h3></div>
					<hr class="logn">
					<div class="col-sm-12 col-md-10 col-md-offset-1 ">
						<form role="form" name="forgotPasswordForm" ng-submit="forgotPassword()" novalidate>
							<div class="form-group">
								<label>Email/ Username:</label>
								<div class="input-group" ng-class="{'has-error' : forgotPasswordForm.userName.$invalid && !forgotPasswordForm.userName.$pristine}">
									<span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
									<input class="form-control loginput" autocomplete="off" placeholder="Email/ Username" name="userName" ng-model="user.userName" type="text" required>
								</div>
								<p ng-if="forgotPasswordForm.userName.$invalid && !forgotPasswordForm.userName.$pristine" class="help-block">Email/ Username is required</p>
							</div>
							<button type="submit" ng-disabled="forgotPasswordForm.$invalid" class="btn btn-success loginbtn">Submit</button>
							<button type="button" class="btn btn-success log1" ui-sref="/login">Back</button>
							<p class="errorMsg" ng-if="errorMsg" ng-bind="errorMsg"></p>
							<p class="successMsg" ng-if="successMsg" ng-bind="successMsg"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

