<form role="form" name="forgotPasswordForm" ng-submit="forgotPassword()" novalidate>
	<div class="form-group">
		<label>Email/ Username:</label>
		<div class="input-group" ng-class="{'has-error' : forgotPasswordForm.userName.$invalid && !forgotPasswordForm.userName.$pristine}">
			<span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
			<input class="form-control loginput" autocomplete="off" placeholder="Email/ Username" name="userName" ng-model="user.userName" type="text" required>
		</div>
		<p ng-if="forgotPasswordForm.userName.$invalid && !forgotPasswordForm.userName.$pristine" class="help-block">Email/ Username is required</p>
	</div>
	<button type="submit" ng-disabled="forgotPasswordForm.$invalid" class="btn btn-success log">Submit</button>
	<a ui-sref="/login">
		<button type="button" class="btn btn-success log1">Back</button>
	</a>
	<p class="errorMsg" ng-if="errorMsg" ng-bind="errorMsg"></p>
	<p class="successMsg" ng-if="successMsg" ng-bind="successMsg"></p>
</form>