<header>

    <div class="col-md-4 col-sm-6 col-xs-12 nospace">
        <form>
            <span class="menubar">
                <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle menu" type="button" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                <li><a href="#">Personal Information</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">My Team</a></li>
                <li><a href="#">Dashboards</a></li>
                </ul>
                </div>
            </span>
        <input type="text" class="search" placeholder="Search">
        </form>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 logo">
        <a href="#">Logo</a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 nospace">
        <div class="userinfo">
            <img src="img/user.png" alt="User">
            <span ng-bind="userDetail.fname"></span>
        </div>
    </div>

</header>

<div class="container container-home">
    <div class="row">
        <div class="home">
        <h3>Home
            <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" id="menu1"></i>
            <ul class="dropdown-menu" aria-labelledby="menu1">
                <li><a href="#">setings</a></li>
                <li><a href="#">setings</a></li>
                <li><a href="#">setings</a></li>
            </ul>
        </h3>
        <hr class="line" />
        <ul>
            <li>
                <img src="img/personal_information.png" alt="personal_information">
                <span>Onboard</span>
            </li>
            <li>
                <img src="img/favorites.png" alt="favorites">
                <span>favorites</span>
            </li>
            <li>
                <img src="img/myteam.png" alt="myteam">
                <span>my team</span>
            </li>
            <li>
                <img src="img/directory.png" alt="directory">
                <span>directory</span>
            </li>
            <li>
                <img src="img/dashboards.png" alt="dashboards">
                <span>dashboards</span>
            </li>
            <li>
                <img src="img/team_performance.png" alt="team_performance">
                <span>team performance</span>
            </li>
            <li>
                <img src="img/compensation.png" alt="compensation">
                <span>compensation</span>
            </li>
            <li>
                <img src="img/pay.png" alt="pay">
                <span>pay</span>
            </li>
            <li>
                <img src="img/benefits.png" alt="benefits">
                <span>benefits</span>
            </li>
            <li>
                <img src="img/timeoff.png" alt="timeoff">
                <span>time off</span>
            </li>
            <li>
                <img src="img/expenses.png" alt="expenses">
                <span>expenses</span>
            </li>
            <li>
                <img src="img/birthday.png" alt="birthday">
                <span>birthday</span>
            </li>
        </ul>
        </div>
    </div>
</div>

