<style type="text/css">
    body{background: #045404 !important;}
</style>


<div class="login" role="login">

  <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    <div class="panel panel-default">
    
      <div class="panel-body">
        
          
            <div class="row">
            	<div class="center-block"> <h3>Login To Product</h3> </div>
            	<hr class="logn">
              <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                <div class="alert alert-danger" ng-if="showLogin">
                    <strong>Username</strong> or <strong>Password</strong> is Incorrect.
                </div>

                <form role="form" name="userForm" ng-submit="login()" novalidate>

                <div class="form-group">
                <label>Email:</label>
                  <div class="input-group" ng-class="{ 'has-error' : userForm.useremail.$invalid && !userForm.useremail.$pristine }">
                   <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                    <input class="form-control loginput" autocomplete="off" placeholder="Email" name="useremail" ng-model="user.useremail" type="email" required>
                  </div>
                <p ng-if="userForm.useremail.$invalid && !userForm.useremail.$pristine" class="help-block">Enter a valid email.</p>
                </div>

                <div class="form-group">
                 <label>Password:</label>
                  <div class="input-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                   <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                    <input class="form-control loginput" autocomplete="off" placeholder="Password" name="password" ng-model="user.password" type="password" required>
                  </div>
                  <p ng-if="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is required.</p>
                </div>
               
                
                  <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-success log" >Log In</button>

                  <button type="button" class="btn btn-success log1" >Sign up</button>

                <a href="#" class="forgot">Forgot Password?</a>
               
               </form>

              </div>
            </div>

        
    
      </div>
    </div>
  </div>

</div>

