<div class="login" role="login">
	<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<div class="panel panel-default pan1">   
			<div class="panel-body pan">
				<div class="row">
					<p class="errorMsg" ng-if="errorMsg" ng-bind="errorMsg"></p>
					<p class="successMsg" ng-if="successMsg" ng-bind="successMsg"></p>
					<div class="center-block"><h3>Login</h3></div>
					<hr class="logn">
					<div class="col-sm-12 col-md-10 col-md-offset-1 ">
						<form role="form" name="userForm" ng-submit="login()" novalidate>
							<div class="form-group">
								<label>Email/ Username:</label>
								<div class="input-group" ng-class="{'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine}">
									<span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
									<input class="form-control loginput" autocomplete="off" placeholder="Email/ Username" name="userName" ng-model="user.userName" type="text" required>
								</div>
								<p ng-if="userForm.userName.$invalid && !userForm.userName.$pristine" class="help-block">Email/ Username is required</p>
							</div>
							<div class="form-group">
								<label>Password:</label>
								<div class="input-group" ng-class="{'has-error' : userForm.password.$invalid && !userForm.password.$pristine}">
									<span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
									<input class="form-control loginput" autocomplete="off" placeholder="Password" name="password" ng-model="user.password" type="password" required>
								</div>
								<p ng-if="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is required.</p>
							</div>
							<div class="form-group">
							<a ui-sref="/forget_password" class="forgot">Forgot Password?</a>
							<button type="submit" ng-disabled="userForm.$invalid" class="btn btn-success">Log In
							</button>
							</div>
							
							<hr class="logn1">
							
								<span class="forgot">Don't have account?</span><a href="#" class="forgot forgot1" ui-sref="/signup">Sign up!</a>
							
							
					   </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

