<div ng-include="'templates/header.html'"></div>

<div class="container">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    
          <h3><strong>Employees List</strong></h3>

          <table class="table table-bordered emp-table">
                    <thead>
                        <tr>
                            <th>Profile Photo</th>
                            <th class="center">Employee Name</th>
                            <th class="center">Employee ID</th>
                            <th class="center">Total Experience</th>
                            <th class="center">Role</th>
                            <th class="center">Official Email</th>
                            <th class="center">Action</th>
                            <th class="center">Action</th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>

                    </tbody>
                </table>

    </div>
  </div>
  </div>

