<header>

    <div class="col-md-4 col-sm-6 col-xs-12 nospace">
        <form>
            <span class="menubar">
                <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle menu" type="button" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                <li><a href="#">Personal Information</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">My Team</a></li>
                <li><a href="#">Dashboards</a></li>
                </ul>
                </div>
            </span>
        <input type="text" class="search" placeholder="Search">
        </form>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 logo">
        <a ui-sref="/home">Logo</a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 nospace">
        <div class="userinfo">
            <img src="img/user.png" alt="User">
            <span>Username</span>
        </div>
    </div>

</header>

<div class="container">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title"><strong>Employees List</strong></h3>
        </div>
       
        <div class="panel-body">

          <table class="table table-bordered emp-table">
                    <thead>
                        <tr>
                            <th>Profile Photo</th>
                            <th class="center">Employee Name</th>
                            <th class="center">Employee ID</th>
                            <th class="center">Total Experience</th>
                            <th class="center">Role</th>
                            <th class="center">Official Email</th>
                            <th class="center">Action</th>
                            <th class="center">Action</th>
                            <th class="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>
                        <tr>
                            <td class="left-justify"><img src="img/user.png" alt="User"></td>
                            <td class="inr">Employee name</td>
                            <td class="inr">18005632</td>
                            <td class="inr">5 Yrs</td>
                            <td class="inr">Developer</td>
                            <td class="inr">employee@gmail.com</td>
                            <td class="inr"><button class="btn btn-info">View</button></td>
                            <td class="inr"><button class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                            <td class="inr"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                        </tr>

                    </tbody>
                </table>


        </div>
      </div>
    </div>
  </div>
  </div>
